@using Microsoft.AspNet.Identity

@{
    var controller = ViewContext.RouteData.GetRequiredString("controller");
    var action = ViewContext.RouteData.GetRequiredString("action");


}



    <div class="col-lg-10 col-md-10 col-sm-6 col-6">
        <div class="topNav float-right">
            @if (Request.IsAuthenticated)
            {
            <ul class="float-left hide-sm">

                @if (User.IsInRole("superadmin"))
                        {
                        <li class="infoPortal"><a href="~/account/register"><p class="float-left">Register</p></a></li>
                        }
                <li class="multiOptions">
                    <a href="javascript:void(0);"><p class="float-left">Add/Edit</p></a>
                    <ul class="subNav shadow">
                        <li>@Html.ActionLink("Country", "Index", "Countries")</li>
                        <li>@Html.ActionLink("Company", "Index", "Companies")</li>
                        <li>@Html.ActionLink("Plant", "Index", "Plants")</li>
                        <li>@Html.ActionLink("Shift", "Index", "Shifts")</li>
                        <li>@Html.ActionLink("Line", "Index", "Lines")</li>
                        <li>@Html.ActionLink("UserType", "Index", "UserTypes")</li>
                    </ul>
                </li>
            </ul>

                
                    


                <ul class="float-left">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        
                        <li class="logOut"><a href="javascript:document.getElementById('logoutForm').submit()"><span class="icon float-left"></span><p class="float-left hide-sm">Logout</p></a></li>
                    }
                </ul>
                
            }
        </div>
    </div>

