@model IEnumerable<FSBModel.Country>

@{
    ViewBag.Title = "Index";
    
}




            <p>
                @Html.ActionLink("Create New", "Create","",new { @class = "redLink" })
            </p>

            <table class="table tableType1 table-bordered shadow w-sm-100">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CountryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CountryId },new { @class = "redLink" }) |
                            @*@Html.ActionLink("Details", "Details", new { id = item.CountryId },new { @class = "redLink" }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.CountryId },new { @class = "redLink" })
                        </td>
                    </tr>
                }

            </table>
      


