@model IEnumerable<FSBModel.Reason>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create","",new { @class = "redLink" })
</p>

<div class="d-block tableFixedWidth">

    <table class="table tableType1 table-bordered shadow w-sm-100">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserType.Plant.Company.Country.CountryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserType.Plant.Company.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserType.Plant.PlantName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.UserType.UserTypeName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Verlustart.VerlustartName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReasonName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType.Plant.Company.Country.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType.Plant.Company.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType.Plant.PlantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType.UserTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Verlustart.VerlustartName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReasonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReasonId }, new { @class = "redLink" }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.ReasonId }, new { @class = "redLink" })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
