
@{
    ViewBag.Title = "Bakery";
}

@section MobileMenu
{
    <!--mobile menu-->
    <div class="mobileMenuBg hide p-3">
        <div class="text-white">
            <strong>Menu</strong> <span class="float-right closeIcon"><img src="img/close-icon.svg" alt="close" /></span>
            <div class="clearfix"></div>
        </div>
        <ul>
            <li><a href="javascript:void(0);"><p>Schichtbericht</p></a></li>
            <li><a href="javascript:void(0);"><p>Auftrag Freigabe</p></a></li>
            <li><a href="javascript:void(0);" class="active"><p>Auftragsselektion</p></a></li>
        </ul>
    </div>
    <!--end mobile menu-->

}

    <link href="~/Content/wickedpicker.min.css" rel="stylesheet" />
    <div class="container-fluid minHeight600 pt-4 pb-4">
        <div class="row">
            <div class="col-12">
                <h1 class="fs-regular-20 text-uppercase font-weight-bold">Teigabteilung</h1>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12">
                <div class="bg-white shadow rounded">
                    <div class="heading row of-h p-2"><p class="col-10 float-left fs-regular-16 font-weight-bold text-uppercase mb-0">Letze 3 Tag Produktion </p><p class="col-2 mt-1"><a href="javascipt:void()" class="float-right upperArrow d-block"></a></p></div>
                    <div class="clearfix"></div>

                    <div class="bakeryAccordionData mobileXscroll pl-3 pr-3 pb-3">
                        <div class="row">
                            <div class="col-lg-1 col-md-1">
                                <span class="lh-40">@DateTime.Now.AddDays(-3).ToString("dd/MM/yyyy")</span>
                            </div>
                            <div class="col-lg-11 col-md-11"><div class="w-25 productionRow1 float-left fs-regular-14 fs-regular-sm-12 fc-grey pl-1 text-wrap d-flex align-center">Hamburger</div><div class="w-50 productionRow2 float-left fs-regular-14 fs-regular-sm-12 fc-grey pl-1 text-wrap d-flex align-center">McRib</div><div class="w-25 productionRow3 float-left fs-regular-14 fs-regular-sm-12 fc-grey pl-1 text-wrap d-flex align-center">Jerra Brot</div></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-lg-1 col-md-1">
                                <span class="lh-40">@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")</span>
                            </div>
                            <div class="col-lg-11 col-md-11"><div class="w-50 productionRow2 float-left fs-regular-14 fs-regular-sm-12 fc-grey pl-1 text-wrap d-flex align-center">McRib</div><div class="w-50 productionRow1 float-left fs-regular-14 fs-regular-sm-12 fc-grey pl-1 text-wrap d-flex align-center">Hamburger</div></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-lg-1 col-md-1">
                                <span class="lh-40">@DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy")</span>
                            </div>
                            <div class="col-lg-11 col-md-11"><div class="w-100 productionRow3 float-left fs-regular-14 fs-regular-sm-12 fc-grey pl-1 text-wrap d-flex align-center">Jeera Brot</div></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <input type="hidden" value="@ViewBag.LineId" id="lineid" />
        <input type="hidden" value="@ViewBag.UserTypeId" id="usertypeid" />
        <input type="hidden" value="@ViewBag.UserId" id="userid" />
        @*<input type="hidden" value="" id="prodstarttime" />*@
        <input type="hidden" value="@ViewBag.PlantId" id="plantid" />
        <input type="hidden" value="firsttime" id="loginstatus" />

        <div class="row mt-4">

            <!--Order Form-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex">
                <div class="bg-white shadow rounded orderSection w-100">

                    <div class="heading of-h pb-2">
                        <p class="orderHeading mb-0"><strong>Order ID: <span id="orderid">@ViewBag.OrderId</span></strong> <span class="font-italic pl-3 pl-sm-1 fs-regular-14">Date: @DateTime.Now.ToString("dd/MM/yyyy")</span> <span class="font-italic pl-3 pl-sm-1 fs-regular-14" id="linename">Line1</span></p>
                        <p class="float-left mt-2 ml-5 mb-0 collapseOrder hide hide-sm"><strong class="fs-regular-14">Product Details</strong><br><span>Hamburger</span></p>
                        <p class="float-left mt-2 ml-5 mb-0 collapseOrder hide hide-sm"><strong class="fs-regular-14">Start Time</strong><br><span>8:00</span></p>
                        <p class="float-left mt-2 ml-5 mb-0 collapseOrder hide hide-sm"><strong class="fs-regular-14">End Time</strong><br><span>14:46</span></p>
                        <p class="float-right mt-1 mr-4 mt-4"><a href="javascipt:void()" class="upperArrow d-block"></a></p>
                    </div>

                    <!--<div class="heading of-h pb-4"><p class="orderHeading fs-sm-regular-13 mb-0"><strong>Order ID: F2314</strong> <span class="font-italic pl-3 pl-sm-1 fs-regular-14">Date: 28/01/2020</span> <span class="font-italic pl-3 pl-sm-1 fs-regular-14">Line1</span></p><p class="float-right mt-1 mr-4 mt-4"><a href="javascipt:void()" class="upperArrow d-block"></a></p></div>-->
                    <div class="clearfix"></div>

                    <div class="bakeryAccordionData" id="dvorder">

                        <div class="row pl-3 pr-3 mt-3 sm-mt-0">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12 sm-mt-15px"><strong class="fs-regular-14 lh-40">Product</strong></div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <select class="form-control" id="product">
                                    <option value="">--Auswahlen--</option>

                                </select>
                            </div>

                            <div class="col-lg-4 col-md-3 col-sm-7 col-7 sm-mt-3">
                                <p><strong class="fs-regular-14">Product Desc.</strong><br><span id="proddesc"></span></p>
                                <p><strong class="fs-regular-14">Pockets</strong><br><span id="pockets"></span></p>
                            </div>

                            <div class="col-lg-2 col-md-3 col-sm-5 col-5 pl-small-0 sm-mt-3">
                                <p><strong class="fs-regular-14">Weight</strong><br><span id="bunweight"></span></p>
                                <p><strong class="fs-regular-14">Speed</strong><br><span id="speed"></span></p>
                            </div>
                        </div>

                        <div class="border-bottom"></div>

                        <div class="row p-2 pt-sm-1 pb-sm-1 no-gutters">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12"><strong class="fs-regular-14 ">SAP Reference Number</strong></div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <input type="text" class="form-control sm-mt-1" id="sapnumber" maxlength="15">
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 col-12"></div>
                            <div class="col-lg-1 col-md-1 col-sm-12 col-12 sm-mt-2"><strong class="fs-regular-14 ">Shift</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                <select class="form-control" id="shifts">
                                    <option value="">--Auswahlen--</option>
                                </select>
                            </div>
                        </div>
                        <div class="border-bottom"></div>

                        <div class="row p-2 pt-sm-0 pb-sm-1">
                            <div class="col-lg-3 col-md-3 col-sm-7 col-7 sm-mt-3">
                                <p class="mb-0"><strong class="fs-regular-14">Start Time</strong><br><span id="prodstarttime"></span></p>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-7 col-7 sm-mt-3">
                                <p class="mb-0"><strong class="fs-regular-14">End Time</strong><br><span id="prodendtime"></span></p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-5 col-5  pl-small-0 sm-mt-3">
                                <p class="mb-0"><strong class="fs-regular-14">Duration</strong><br><span id="prodduration"> </span>&nbsp;<span><strong class="fs-regular-14" id="proddurationmin"></strong></span></p>
                            </div>
                        </div>

                        <div class="border-bottom"></div>
                        <div class="row p-2 pt-sm-1 pb-sm-1">
                            <div class="col-12 mb-1 sm-mb-1"><strong>Anzahl Mitarbeiter</strong></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6"><span class="d-block lh-40 pr-3 w-sm-100">FSB</span><input type="number" id="empperm" min="1" max="100" class="form-control" maxlength="2"></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 pl-small-0"><span class="d-block lh-40 pr-3 w-sm-100">Leiharbeiter</span><input id="emptemp" min="1" max="100" type="number" class="form-control" maxlength="2"></div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 sm-mt-1"><span class="d-block lh-40 pr-3 w-sm-100">Aushilfen</span><input type="number" min="1" max="100" id="empexternal" class="form-control" maxlength="2"></div>
                        </div>

                        <div class="border-bottom"></div>

                        @*<div class="row p-2 pt-sm-1 pb-sm-1">
                            <div class="col-12 mb-3 sm-mb-1"><strong>Teigteileruhr</strong></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6"><span class="float-left d-block lh-40 pr-3 w-sm-100">Start Time</span><input type="text" class="form-control float-left w-50 w-sm-100"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6"><span class="float-left d-block lh-40 pr-3 w-sm-100">End Time</span><input type="text" class="form-control float-left w-50 w-sm-100"></div>
                        </div>

                        <div class="border-bottom"></div>*@
                        <input type="hidden" id="ttduration" />

                        <div class="text-center pt-3 pl-3 pr-3"><button type="button" id="btnstart" class="btn btn-primary hvr-float ripple text-uppercase font-weight-bold pl-5 pr-5 plr-sm-4 mr-4 startIcon">Start</button> <button type="button" id="btnend" class="btn btn-primary btn-disabled ripple text-uppercase font-weight-bold pl-5 pr-5 plr-sm-4" disabled>Finish</button> </div>

                        <div class="qualityDataWrap mt-4">
                            <div class="row justify-content-between p-2">
                                <div class="col-auto">Geplannte Menge <span class="font-weight-bold ml-2" id="plannedquantity">0</span></div>
                                <div class="col-auto">Produzierte Menge <span class="font-weight-bold  ml-2" id="producedquantity">0</span></div>
                                <div class="col-auto">Efficiency <span class="font-weight-bold  ml-2" id="efficiency">0%</span></div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <!--end Order Form-->
            <!--Packaging MasterData -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 sm-mt-3 d-flex">
                <div class="bg-white shadow rounded producedVolume w-100">

                    <div class="heading row of-h p-2"><p class="col-10 float-left fs-regular-16 font-weight-bold text-uppercase mb-0">Produzierte Menge (Produced Volume)</p><p class="col-2 mt-1"><a href="javascipt:void()" class="float-right upperArrow d-block"></a></p></div>

                    <div class="clearfix"></div>

                    <div class="bakeryAccordionData">

                        <div class="pt-5 pb-5 text-center emptyState hide">
                            <img src="img/empty-state-master-data.jpg" alt="Packaging MasterData">
                            <p class="clearfix fc-grey mt-4">Hourly shift update will come here</p>
                        </div>

                        <div class="d-block m-tableFixedWidth">
                            <table class="table tableType1" id="tblvolume">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-left pl-3">Zeitf<br class="hide show-sm">enster</th>
                                        <th scope="col" class="text-center">Dollies</th>
                                        <th scope="col" class="text-center">Korbe</th>
                                        <th scope="col" class="text-center">Pcs</th>
                                        <th scope="col" class="text-center">Geplante Menge</th>
                                        <th scope="col" class="text-center pr-3">Efficiency (%)</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
            <!--End Packaging MasterData -->
        </div>


        <div class="clearfix"></div>

        <!--start of Product Status -->
        <div class="row mt-4">
            <div class="col-12">
                <div class="bg-white shadow rounded" id="dvwastedetail">
                    <div class="row pt-3 pl-3 pr-3 pb-2">
                        <div class="col-lg-2 col-md-2 col-sm-5 col-5"><strong>Produktion Status</strong> </div>
                        <div class="col-lg-8 col-md-8 col-sm-5 col-5">
                            <div class="form-group sm-ml-3">
                                <div class="form-check">
                                    <input class="form-check-input " type="checkbox" id="chkprodstatus">
                                    <label class="form-check-label fc-grey" for="chkprodstatus">
                                        Störungsfrei
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2"><p class="float-right mt-1"><a href="javascipt:void()" class="wasteAnchor upperArrow d-block"></a></p> </div>
                    </div>
                    <div class="border-bottom"></div>

                    <div class="bakeryAccordionData wasteTab" id="dvwaste">
                        <div class="row p-2 pb-sm-1 pt-sm-1" id="dvmachine">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12"><strong>Machine Stop</strong> </div>
                            <div class="col-lg-4 col-md4 col-sm-12 col-12 sm-mt-1">
                                <div class="form-group">
                                    <input type="text" class="form-control float-left w-75 w-sm-75" id="machinestop">
                                    <button class="btn btn-primary btn-orange hvr-float ripple text-uppercase font-weight-bold float-left ml-2 startStopFixedWidth stop" id="btnmachinestop">Stop</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 sm-mt-3">
                                <div class="form-group">
                                    <input type="text" class="form-control float-left w-75 w-sm-75" id="machinestart">
                                    <button class="btn btn-primary btn-orange hvr-float ripple text-uppercase font-weight-bold float-left ml-2 startStopFixedWidth start" id="btnmachinestart">Start</button>
                                </div>
                            </div>
                        </div>

                        <div class="border-bottom"></div>

                        <div class="row p-2 pb-sm-1 pt-sm-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12"><strong>Verlust</strong> </div>
                            <div class="clear-sm"></div>
                            <div class="col-lg-10 col-md10 col-sm-12 col-12 sm-mt-2" id="dvverlust">
                                <a href="javascript:void(0);" class="tabBox active verlust" verval="1">Ausschuss</a>
                                <a href="javascript:void(0);" class="tabBox verlust" verval="2">Stillstand</a>
                                <a href="javascript:void(0);" class="tabBox verlust" verval="3">Recept/Parameter</a>
                                <input type="hidden" id="hdverlust" value="Ausschuss" />
                                <div class="clearfix"></div>
                                <div class="border">
                                    <div class="row p-2 pt-sm-1 pb-sm-1">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"><strong>Verlustart</strong></div>
                                        <div class="col-lg-10 col-md-10 col-sm-12 col-12 sm-mt-1">
                                            <select class="form-control" id="verlustart">
                                                <option value="">--Auswahlen--</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="border-bottom"></div>
                                    <div class="row p-2 pb-sm-1 pt-sm-1">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"><strong>Technik</strong></div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 sm-mt-1">
                                            <div class="form-group">
                                                <input type="text" class="form-control float-left w-65 w-sm-70" id="repairstart">
                                                <button id="btnrepairstart" type="button" class="btn btn-primary btn-orange hvr-float ripple text-uppercase font-weight-bold float-left ml-2 startStopFixedWidth start">Start</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 sm-mt-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control float-left w-65 w-sm-70" id="repairstop">
                                                <button id="btnrepairstop" type="button" class="btn btn-primary btn-orange hvr-float ripple text-uppercase font-weight-bold float-left ml-2 startStopFixedWidth stop">Stop</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12 sm-mt-3">
                                            <select class="form-control" id="repairapprover">
                                                <option>Freigabe Von</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="border-bottom"></div>

                                    <div class="row p-2 pb-sm-1 pt-sm-1">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"><strong>Reinigung</strong></div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 sm-mt-1">
                                            <div class="form-group">
                                                <input type="text" class="form-control float-left w-65 w-sm-70" id="cleaningstart">
                                                <button type="button" id="btncleaningstart" class="btn btn-primary btn-orange hvr-float ripple text-uppercase font-weight-bold float-left ml-2 startStopFixedWidth start">Start</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 sm-mt-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control float-left w-65 w-sm-70" id="cleaningstop">
                                                <button type="button" id="btncleaningstop" class="btn btn-primary btn-orange hvr-float ripple text-uppercase font-weight-bold float-left ml-2 startStopFixedWidth stop">Stop</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12 sm-mt-3">
                                            <select class="form-control" id="cleaningapprover">
                                                <option>Freigabe Von</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="border-bottom"></div>

                                    <div class="row p-2 pb-sm-1 pt-sm-1">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"><strong>Bereich</strong></div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sm-mt-1">
                                            <select class="form-control" id="location">
                                                <option value="">--Auswahlen--</option>

                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"></div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12 sm-mt-3"><strong>Maschine</strong></div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sm-mt-1">
                                            <select class="form-control" id="machine">
                                                <option value="">--Auswahlen--</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="border-bottom"></div>

                                    <div class="row p-2 pb-sm-1 pt-sm-1">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"><strong>Baugruppe</strong></div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sm-mt-1">
                                            <select class="form-control" id="module">
                                                <option value="">--Auswahlen--</option>

                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"></div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12 sm-mt-3"><strong>Komponente</strong></div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sm-mt-1">
                                            <select class="form-control" id="component">
                                                <option value="">--Auswahlen--</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="border-bottom"></div>

                                    <div class="row p-2 pb-sm-1 pt-sm-1">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"><strong>Bauteil</strong></div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sm-mt-1">
                                            <select class="form-control" id="parts">
                                                <option value="">--Auswahlen--</option>

                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"></div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12 sm-mt-3"><strong>Ausschussart</strong></div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sm-mt-1">
                                            <select class="form-control" id="wastetype">
                                                <option value="">--Auswahlen--</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="border-bottom"></div>

                                    <div class="row p-2 pb-sm-1 pt-sm-1">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"><strong>Ausschussmenge(Kg)</strong></div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sm-mt-1">
                                            <input type="text" class="form-control sm-mt-1" id="wastekg">
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"></div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12 sm-mt-3"><strong>Verlustgrund</strong></div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sm-mt-1">
                                            <select class="form-control" id="reasons">
                                                <option value="">--Auswahlen--</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="border-bottom"></div>

                                    <div class="row p-2 pb-sm-1 pt-sm-1">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"><strong>Grunde des Probleme</strong></div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sm-mt-1">
                                            <textarea class="form-control" rows="3" maxlength="120" id="problemreason"></textarea>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"></div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12 sm-mt-3"><strong>Sofortiges Massnahme</strong></div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sm-mt-1">
                                            <textarea class="form-control" rows="3" maxlength="120" id="actiontaken"></textarea>
                                        </div>
                                    </div>

                                    <div class="border-bottom"></div>

                                    <div class="row p-2 pb-sm-1 pt-sm-1">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"><strong>Preventive Massnahme</strong></div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sm-mt-1">
                                            <textarea class="form-control" rows="3" maxlength="120" id="preventiveaction"></textarea>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12"></div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12 sm-mt-3"><strong>Kommentar</strong></div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sm-mt-1">
                                            <textarea class="form-control" rows="3" id="comments"></textarea>
                                        </div>
                                    </div>

                                    <div class="border-bottom"></div>


                                    <div class="col-12 p-2 text-center">
                                        <button type="button" id="btnwaste" class="btn btn-primary hvr-float ripple text-uppercase font-weight-bold pl-5 pr-5">Submit</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--end of Product Status -->

        <div class="clearfix"></div>

        <!--start of Table-->

        <div class="d-block mt-4 tableFixedWidth">
            <table class="table tableType1 table-sm table-bordered shadow" id="tbwasteinfo" style="display:none">
                <thead>
                    <tr>
                        <th scope="col">ID Nr.</th>
                        <th scope="col">Produktionsstatus</th>
                        <th scope="col">Unterbrechungen</th>
                        <th scope="col">Maschine Bis</th>
                        <th scope="col">Maschine Von</th>
                        <th scope="col">Reinigung Von</th>
                        <th scope="col">Reinigung Bis</th>
                        <th scope="col">Technik Von</th>
                        <th scope="col">Technik Bis</th>
                        <th scope="col">Ausschuss(Kg)</th>
                        <th scope="col">Ausschuss Art</th>
                        <th scope="col">Verlustart</th>
                        <th scope="col">Bereich</th>
                        <th scope="col">Maschine</th>
                        <th scope="col">Baugruppe</th>
                        <th scope="col">Komponente</th>
                        <th scope="col">Bauteil</th>
                        <th scope="col">Verlustgrund</th>
                        <th scope="col">Grunde des Probleme</th>
                        <th scope="col">Sofortiges Massnahme</th>
                        <th scope="col">Preventive Massnahme</th>
                        <th scope="col">Kommentar</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!--end of Table-->

    </div>
@section scripts
{
    @Scripts.Render("~/bundles/fsbscript")
    @Scripts.Render("~/bundles/bakeryscript")

    <script>
        $(document).ready(function () {

            $('.mobileMenuIcon').click(function () {
                $('div.mobileMenuBg').attr('style', 'display: block !important');
            });

            $('.closeIcon').click(function () {
                $('div.mobileMenuBg').slideUp();
            });

            //$('.producedVolume').height($('.orderSection').height());

        });



        $('.upperArrow').each(function (index, obj) {
            //you can use this to access the current item
            $(this).click(function () {
                //console.log(index)
                $(this).hasClass('downArrow') ? $('.bakeryAccordionData').eq(index).slideDown() : $('.bakeryAccordionData').eq(index).slideUp();
                $(this).hasClass('downArrow') ? $(this).removeClass('downArrow') : $(this).addClass('downArrow');

                (index == 1 || index == 2) ? $(this).hasClass('downArrow') ? $('#orderform,#packagingmaster').removeClass('d-flex') : $('#orderform,#packagingmaster').addClass('d-flex') : "";

            });
        });


        $('.wasteAnchor').click(function () {
            if ($(this).hasClass('downArrow')) {
                $('.wasteTab').hide();
                $(this).removeClass('.downArrow');
            }

            else {
                $('.wasteTab').show();
                $(this).addClass('.downArrow');
            }
        });

    </script>


    @*<script src="~/Scripts/bakery.js"></script>
        <script src="~/Scripts/waste.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>


        $(function () {

            var cus = $.connection.cusHub;


            cus.client.displayVolumes = function (gorderid) {

                //getData(gorderid);

            }


            $.connection.hub.start();


            //getData(gorderid);





        });


        function getData(porderid) {
            var $tbl = $("#tcust")
            console.log("orderidfrompackaging", porderid)
            var borderid = $("#orderid").text();

            console.log("orderidgeneratedinbaking", borderid)


            if (porderid == borderid) {
                $.ajax({
                    url: "bakery/customer",
                    type: "GET",
                    datatype: "json",
                    success: function (data) {
                        console.log(data)
                        $tbl.empty();

                        $.each(data, function (i, model) {
                            $tbl.append(
                                '<tr><td>' + model.Name + '</td><td>' + model.Email + '</td><td>' + model.Mobile + '</td></tr>'

                            );


                        })


                    }

                });
            }
        }




    </script>

    <script type="text/javascript">
        window.onload = function () {
            document.onkeydown = function (e) {
                return (e.which || e.keyCode) != 116;
            };
        }
    </script>

    <script language="javascript" type="text/javascript">
        //this code handles the F5/Ctrl+F5/Ctrl+R
        document.onkeydown = checkKeycode
        function checkKeycode(e) {
            var keycode;
            if (window.event)
                keycode = window.event.keyCode;
            else if (e)
                keycode = e.which;

            // Mozilla firefox
            //if ($.browser.mozilla) {
            if (keycode == 116 || (e.ctrlKey && keycode == 82)) {
                if (e.preventDefault) {
                    e.preventDefault();
                    e.stopPropagation();
                }
            }
            //}
            // IE
            else if ($.browser.msie) {
                if (keycode == 116 || (window.event.ctrlKey && keycode == 82)) {
                    window.event.returnValue = false;
                    window.event.keyCode = 0;
                    window.status = "Refresh is disabled";
                }
            }
        }
    </script>

    <script src="~/Scripts/wickedpicker.js"></script>


    <script>
        var options = {
            //now: "12:35", //hh:mm 24 hour format only, defaults to current time
            twentyFour: true,  //Display 24 hour format, defaults to false
            upArrow: 'wickedpicker__controls__control-up',  //The up arrow class selector to use, for custom CSS
            downArrow: 'wickedpicker__controls__control-down', //The down arrow class selector to use, for custom CSS
            close: 'wickedpicker__close', //The close class selector to use, for custom CSS
            hoverState: 'hover-state', //The hover state class to use, for custom CSS
            title: 'Timepicker', //The Wickedpicker's title,
            showSeconds: false, //Whether or not to show seconds,
            timeSeparator: ' : ', // The string to put in between hours and minutes (and seconds)
            secondsInterval: 1, //Change interval for seconds, defaults to 1,
            minutesInterval: 1, //Change interval for minutes, defaults to 1
            beforeShow: null, //A function to be called before the Wickedpicker is shown
            afterShow: null, //A function to be called after the Wickedpicker is closed/hidden
            show: null, //A function to be called when the Wickedpicker is shown
            clearable: false, //Make the picker's input clearable (has clickable "x")
        };
        

    </script>
}




