@model FSBModel.Plant

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
				@Html.LabelFor(model => model.PlantCode)
			
                @Html.EditorFor(model => model.PlantCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlantCode, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
				@Html.LabelFor(model => model.PlantName)
			
                @Html.EditorFor(model => model.PlantName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlantName, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyId, "CompanyId", htmlAttributes: new { @class = "control-label col-md-2" })
			
                @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "float-left" })
			
                <div class="checkbox float-left ml-3">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            
        </div>

        <button type="submit" class="btn btn-primary hvr-float ripple text-uppercase font-weight-bold w-100 mt-2">Create</button>
    </div>
}

<div class="mt-3">
    @Html.ActionLink("Back to List", "Index", "", new { @class = "redLink" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
