
<div class="row mt-1">
    <div class="col-12">
        <div class="bg-white shadow rounded">
            <div class="heading row of-h p-2"><p class="col-10 float-left fs-regular-16 font-weight-bold text-uppercase mb-0">Letze Tag Produktion </p><p class="col-2 mt-1"><a href="javascipt:void()" class="float-right upperArrow d-block"></a></p></div>
            <div class="clearfix"></div>

            <div class="bakeryAccordionData mobileXscroll pl-3 pr-3 pb-3">
                @*<div class="row">
                        <div class="col-lg-1 col-md-1">
                            <span class="lh-40">@DateTime.Now.AddDays(-3).ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="col-lg-11 col-md-11"><div class="w-25 productionRow1 float-left fs-regular-14 fs-regular-sm-12 fc-grey pl-1 text-wrap d-flex align-center">Hamburger</div><div class="w-50 productionRow2 float-left fs-regular-14 fs-regular-sm-12 fc-grey pl-1 text-wrap d-flex align-center">McRib</div><div class="w-25 productionRow3 float-left fs-regular-14 fs-regular-sm-12 fc-grey pl-1 text-wrap d-flex align-center">Jerra Brot</div></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-1 col-md-1">
                            <span class="lh-40">@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="col-lg-11 col-md-11"><div class="w-50 productionRow2 float-left fs-regular-14 fs-regular-sm-12 fc-grey pl-1 text-wrap d-flex align-center">McRib</div><div class="w-50 productionRow1 float-left fs-regular-14 fs-regular-sm-12 fc-grey pl-1 text-wrap d-flex align-center">Hamburger</div></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-1 col-md-1">
                            <span class="lh-40">@DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="col-lg-11 col-md-11"><div class="w-100 productionRow3 float-left fs-regular-14 fs-regular-sm-12 fc-grey pl-1 text-wrap d-flex align-center">Jeera Brot</div></div>
                    </div>*@

                <div class="row mt-2">
                    @*<div class="col-lg-1 col-md-1">
                            <span class="lh-40">@DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy")</span>
                            <input type="hidden" id="pdate" value="03/29/2020" />
                        </div>*@
                    <div class="col-lg-12 col-md-12">
                        @*<input type="hidden" id="pdate" value="@DateTime.Now.AddDays(-1).ToString("MM/dd/yyyy")" />*@
                        <input type="hidden" id="pdate" value="03/29/2020" />
                        <div id="chart-container"></div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




