@model FSBAdmin.Models.PartViewModel

@{
    ViewBag.Title = "Create";
    ViewBag.Heading = "Part - Create";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="dvstart">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CountryId)

            @Html.DropDownListFor(model => model.CountryId, null, "--Select Country--", htmlAttributes: new { @class = "form-control", id = "countryid" })
            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })

        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CompanyId)

            @Html.DropDownListFor(model => model.CompanyId, Enumerable.Empty<SelectListItem>(), "--Select Company--", htmlAttributes: new { @class = "form-control", id = "companyid" })
            @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlantId)

            @Html.DropDownListFor(model => model.PlantId, Enumerable.Empty<SelectListItem>(), "--Select Plant--", htmlAttributes: new { @class = "form-control", id = "plantid" })
            @Html.ValidationMessageFor(model => model.PlantId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserTypeId)

            @Html.DropDownListFor(model => model.UserTypeId, Enumerable.Empty<SelectListItem>(), "--Select UserType--", htmlAttributes: new { @class = "form-control", id = "usertypeid" })
            @Html.ValidationMessageFor(model => model.UserTypeId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LineId)

            @Html.DropDownListFor(model => model.LineId, Enumerable.Empty<SelectListItem>(), "--Select Line--", htmlAttributes: new { @class = "form-control", id = "lineid" })
            @Html.ValidationMessageFor(model => model.LineId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationId)

            @Html.DropDownListFor(model => model.LocationId, Enumerable.Empty<SelectListItem>(), "--Select Location--", htmlAttributes: new { @class = "form-control", id = "locationid" })
            @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MachineId)

            @Html.DropDownListFor(model => model.MachineId, Enumerable.Empty<SelectListItem>(), "--Select Machine--", htmlAttributes: new { @class = "form-control", id = "machineid" })
            @Html.ValidationMessageFor(model => model.MachineId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModuleId)

            @Html.DropDownListFor(model => model.ModuleId, Enumerable.Empty<SelectListItem>(), "--Select Location--", htmlAttributes: new { @class = "form-control", id = "moduleid" })
            @Html.ValidationMessageFor(model => model.ModuleId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Part.ComponentId)

            @Html.DropDownListFor(model => model.Part.ComponentId, Enumerable.Empty<SelectListItem>(), "--Select Location--", htmlAttributes: new { @class = "form-control", id = "componentid" })
            @Html.ValidationMessageFor(model => model.Part.ComponentId, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Part.PartName)

            @Html.EditorFor(model => model.Part.PartName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Part.PartName, "", new { @class = "text-danger" })

        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Part.Status, new { @class = "float-left" })

            <div class="checkbox float-left ml-3">
                @Html.EditorFor(model => model.Part.Status)
                @Html.ValidationMessageFor(model => model.Part.Status, "", new { @class = "text-danger" })
            </div>

        </div>


    </div>

    <div class="mt-3 text-center">
        <button type="submit" class="btn btn-primary hvr-float ripple text-uppercase font-weight-bold mt-2 mr-5">Create</button> @Html.ActionLink("Back to List", "Index", "", new { @class = "redLink" })
    </div>
}



@section Scripts {

    <script>

        hitapi.part = false;

        $("#dvwidth").removeClass()
        $("#dvwidth").addClass("col-lg-8 col-md-8 col-sm-12 col-12 mx-auto")
        $("#dvstart").addClass("row");
        $(".form-group").addClass("col-lg-4 col-md-4 col-sm-12 col-12")

    </script>


    @Scripts.Render("~/bundles/jqueryval")
}
