@model IEnumerable<FSBModel.Verlustart>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create","",new { @class = "redLink" })
</p>

<div class="d-block tableFixedWidth">
    <table class="table tableType1 table-bordered shadow w-sm-100">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Plant.Company.Country.CountryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plant.Company.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plant.PlantName)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.UserTypeName)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.VerlustartName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Plant.Company.Country.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plant.Company.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plant.PlantName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.UserTypeName)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.VerlustartName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VerlustartId }, new { @class = "redLink" }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.VerlustartId }, new { @class = "redLink" })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>