@model IEnumerable<FSBModel.Module>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create","",new { @class = "redLink" })
</p>

<div class="d-block tableFixedWidth">

    <table class="table tableType1 table-bordered shadow w-sm-100">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Machine.Location.UserType.Plant.Company.Country.CountryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Machine.Location.UserType.Plant.Company.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Machine.Location.UserType.Plant.PlantName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Machine.Location.UserType.UserTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Machine.Location.Line.LineName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Machine.Location.LocationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Machine.MachineName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModuleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Machine.Location.UserType.Plant.Company.Country.CountryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Machine.Location.UserType.Plant.Company.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Machine.Location.UserType.Plant.PlantName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Machine.Location.UserType.UserTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Machine.Location.Line.LineName)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Machine.Location.LocationName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Machine.MachineName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModuleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ModuleId }, new { @class = "redLink" }) |

                        @Html.ActionLink("Delete", "Delete", new { id = item.ModuleId }, new { @class = "redLink" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
