@model IEnumerable<FSBModel.Shift>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create","",new { @class = "redLink" })
</p>
<table class="table tableType1 table-bordered shadow w-sm-100">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plant.Company.Country.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plant.Company.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plant.PlantName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ShiftName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
</thead>

<tbody>
@foreach (var item in Model) {

    <tr>


        <td>
            @Html.DisplayFor(modelItem => item.Plant.Company.Country.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plant.Company.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plant.PlantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ShiftId }, new { @class = "redLink" }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.ShiftId }, new { @class = "redLink" })
        </td>
    </tr>
}
</tbody>
</table>
