@model FSBModel.Verlust

@{
    ViewBag.Title = "Edit";
    ViewBag.Heading = "Verlust - Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="dvstart">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.VerlustId)
        @Html.HiddenFor(model => model.UserTypeId)


        <div class="form-group">
            @Html.LabelFor(model => model.UserType.Plant.Company.Country.CountryName)
            @Html.DisplayFor(model => model.UserType.Plant.Company.Country.CountryName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserType.Plant.Company.CompanyName)
            @Html.DisplayFor(model => model.UserType.Plant.Company.CompanyName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserType.Plant.PlantName)
            @Html.DisplayFor(model => model.UserType.Plant.PlantName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserType.UserTypeName)
            @Html.DisplayFor(model => model.UserType.UserTypeName)
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.VerlustName)

            @Html.EditorFor(model => model.VerlustName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.VerlustName, "", new { @class = "text-danger" })

        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "float-left" })

            <div class="checkbox float-left ml-3">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>

        </div>


    </div>
    <div class="mt-3 text-center">
        <button type="submit" class="btn btn-primary hvr-float ripple text-uppercase font-weight-bold mt-2 mr-5">Save</button> @Html.ActionLink("Back to List", "Index", "", new { @class = "redLink" })
    </div>
}



@section Scripts {

    <script>

        $("#dvwidth").removeClass()
        $("#dvwidth").addClass("col-lg-8 col-md-8 col-sm-12 col-12 mx-auto")
        $("#dvstart").addClass("row");
        $(".form-group").addClass("col-lg-4 col-md-4 col-sm-12 col-12")

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
