@model FSBUI.Models.OrderInformation

@{
    ViewBag.Title = "Pending Orders";
}

<div class="minHeight400">
    <div class="row pt-4 pb-4">
        <div class="col-12">
            <h1 class="fs-regular-20 text-uppercase font-weight-bold">@ViewBag.UserTypeName</h1>
            @{ 
                var pendingordercount = Model.OrderDetails.Count();
                var loggeinuser = Convert.ToInt16(Session["userid"]);
                var bakeryuserid = 0;
                var packaginguserid = 0;

            }
            <p class="font-weight-bold">Pending Orders <span>(@pendingordercount)</span></p>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur, metus quis efficitur tincidunt, felis magna sagittis ante, ut maximus ex velit nec purus. In vel arcu</p>*@
        </div>
    </div>
    <div class="w-sm-100">
        <table class="table tableType1 table-bordered shadow w-sm-100">
            <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Product</th>
                    <th scope="col" class="hide-sm">Product Detail</th>
                    <th scope="col" class="hide-sm">Linie</th>
                    <th scope="col" class="hide-sm">Shift</th>
                    <th scope="col" class="hide-sm">Von(Start)</th>
                    <th scope="col" class="hide-sm">Bakery Status</th>
                    <th scope="col" class="hide-sm">Packaging Status</th>
                    <th scope="col" class="hide-sm">Auftrag Status</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    if (pendingordercount <= 0)
                    {
                        <tr><td colspan="10">No order created yet</td></tr>
                    }

                    else
                    {


                        foreach (var item in Model.OrderDetails)
                        {
                        <tr>
                            @{
                                var cdate = item.CreatedDate.ToString("dd MMM yyyy");
                                var objorderinfo = Model.OrderInfos.Where(x => x.OrderId == item.OrderId);
                                var usercount = objorderinfo.Count();
                                var bakerystatus = "";
                                var packagingstatus = "";
                                var usertypeid = Convert.ToString(Session["usertypeid"]);


                                if (usercount == 1)
                                {
                                    var objbakery = objorderinfo.SingleOrDefault(x => x.UserType.UserTypeName.ToLower() == "bakery");

                                    bakerystatus = objbakery.OrderStatus == 0 ? "In Process" : "Finished";
                                    bakeryuserid = objbakery.UserId;

                                }
                                else
                                {
                                    var objbakery = objorderinfo.SingleOrDefault(x => x.UserType.UserTypeName.ToLower() == "bakery");
                                    var objpackaging = objorderinfo.SingleOrDefault(x => x.UserType.UserTypeName.ToLower() == "packaging");

                                    bakerystatus = objbakery.OrderStatus == 0 ? "In Process" : "Finished";
                                    packagingstatus = objpackaging.OrderStatus == 0 ? "In Process" : "Finished";

                                    bakeryuserid = objbakery.UserId;
                                    packaginguserid = objpackaging.UserId;
                                }
                            }

                            <td>@cdate</td>
                            <td>
                                @{
                                    var controllername = usertypeid == "1" ? "Bakery" : "Packaging";
                                    var formname = "form" + item.OrderId;

                                }

                                @using (Html.BeginForm("Index", controllername, FormMethod.Post, new { id = formname }))
                                {
                                    <input type="hidden" name="orderid" value="@item.OrderId" />

                                    if ((usertypeid == "1" && bakerystatus == "Finished") || (usertypeid == "2" && packagingstatus == "Finished"))
                                    {
                                        <a href="javascript:void" class="font-weight-bold">@Html.DisplayFor(modelItem => item.OrderId)</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:document.getElementById('@formname').submit()" class="redLink font-weight-bold">@Html.DisplayFor(modelItem => item.OrderId)</a>

                                    }
                                }
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Product.ProductName)</td>
                            <td class="hide-sm">@Html.DisplayFor(modelItem => item.Product.ProductDesc)</td>
                            <td class="hide-sm">@Html.DisplayFor(modelItem => item.Line.LineName)</td>
                            <td class="hide-sm">@Html.DisplayFor(modelItem => item.Shift.ShiftName)</td>
                            @{
                                var von = item.OrderStartTime.ToString("dd MMM yyyy hh:mm");
                            }
                            <td class="hide-sm">@von</td>



                            @{


                                if (usercount == 1)
                                {

                                    <td class="hide-sm">@bakerystatus</td>
                                    <td class="hide-sm">Offen</td>
                                }
                                else
                                {

                                    <td class="hide-sm">@bakerystatus</td>
                                    <td class="hide-sm">@packagingstatus</td>
                                }

                            }

                            @{

                                var finalstatus = item.FinalStatus == 0 ? "Offen" : "Finished";

                                <td class="hide-sm">@finalstatus</td>

                            }


                        </tr>
                
                        }
                    }
                }

            </tbody>
        </table>
    </div>
</div>

