@model IEnumerable<FSBModel.Location>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create","",new { @class = "redLink" })
</p>
<table class="table tableType1 table-bordered shadow w-sm-100">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Line.LineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType.UserTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
</thead>

<tbody>
@foreach (var item in Model) {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Line.LineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType.UserTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationId },new { @class = "redLink" }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.LocationId },new { @class = "redLink" })
        </td>
    </tr>
}
</tbody>
</table>
